.main{
  background-color:#ddd;
  border:1px solid skyblue;
  display:flex;
  flex-direction:column;
}

.profile {
  padding:2%
  margin:2%
  width=200px;
  font-size:25px;
  text-align:center;
  background-color:#fff;
  border:2px solid green;
}
  .profile img{
    width:100px;
    border-radius:50%;
  border:2px solid green;
  display:block;
  margin-left:auto;
  margin-right:auto;

}
.content{
  padding:2%;
  margin:2%;
  background-color:#fff;
  width=70%
  border:2px solid red;
}
@media  only screen and(max-width:480px){

.main{
  background-color:#ddd;
  border:1px solid skyblue;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.profile {
  padding:2%
  margin:2%
  width=100%;
  font-size:25px;
  text-align:center;
  background-color:#fff;
  border:2px solid green;
}
  .profile img{
    width:100px;
    border-radius:50%;
  border:2px solid green;
  display:block;
  margin-left:auto;
  margin-right:auto;

}
.content{
  padding:2%;
  margin:2%;
  background-color:green;
  width=100%
  border:2px solid red;
}
}
@media only screen and (min-width:481px) and(max-width:769px){

}
.main{
  background-color:green;
  border:1px solid yellow;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.profile {
  padding:2%
  margin:2%
  width=100%;
  font-size:25px;
  text-align:left;
  background-color:green;
  border:2px solid green;
}
  .profile img{
    width:100px;
    border-radius:10%;
  border:2px solid yellow;
  display:block;
  margin-left:auto;
  margin-right:auto;

}
.content{
  padding:2%;
  margin:2%;
  background-color:green;
  width=100%
  border:2px solid yellow;
}
}
